# Google Service Account
GCP_PROJECT_ID=
GCP_PRIVATE_KEY_ID=
GCP_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GCP_CLIENT_EMAIL=
GCP_CLIENT_ID=

# Google Sheets
SPREADSHEET_ID=
TOKEN_SHEET_ID=

# Metabase
MB_BASE_URL=
# (token is read dynamically from sheet)

# Notifications (optional)
CHAT_WEBHOOK_URL=
